
root {

    --border-radius: 5;

}


.button {
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-min-height: 50;
    -fx-min-width: 50;
    -fx-border-color: #998b8b;
    -fx-border-radius: 5;
}
.button:hover {
    -fx-background-color: #887E7E;
    -fx-scale-y: 1;
}
.button:pressed {
    -fx-scale-y: 0.9;
    -fx-scale-x: 0.9;
}
.label {
    -fx-border-radius: 5;
    -fx-border-color: #998b8b;

}
